
<html>
<head>
    <title>Starbucks Reserved</title>

<script type="text/javascript">
    function selectedStore() {
        reg = document.getElementById("register").value
        switch(reg) {
          case "5012349":
            document.getElementById("stores").options[0].selected=true
            break;
          case "1287612":
            document.getElementById("stores").options[1].selected=true
            break;
          case "6498234":
            document.getElementById("stores").options[2].selected=true
            break;
          case "7812386":
            document.getElementById("stores").options[3].selected=true
            break;
          case "8723098":
            document.getElementById("stores").options[4].selected=true
            break;
          case "9621043":
            document.getElementById("stores").options[5].selected=true
            break;
          case "1393478":
            document.getElementById("stores").options[6].selected=true
            break;
          default:
            document.getElementById("stores").options[0].selected=true
        } 
    }
</script>

<script type="text/javascript">
    function selectedDrink() {
        reg = document.getElementById("orderDrink").value
        switch(reg) {
          case "Caffe Latte":
            document.getElementById("orderDrink").options[0].selected=true
            break;
          case "Caffe Americano":
            document.getElementById("orderDrink").options[1].selected=true
            break;
          case "Caffe Mocha":
            document.getElementById("orderDrink").options[2].selected=true
            break;
          case "Espresso":
            document.getElementById("orderDrink").options[3].selected=true
            break;
          case "Cappuccino":
            document.getElementById("orderDrink").options[4].selected=true
            break;
        } 
    }
</script>

</head>

<body onload="selectedStore()">
  <element onload="selectedDrink()"></element>
<h1 align="center">Welcome to Starbucks Reserved</h1>

<!-- FORM SECTION -->

<form name="form" method="post" action="">

    <input type="hidden" name="state" id="state" value="{{state}}" />
    <input type="hidden" name="ts" id="ts" value="{{ts}}" />
    <input type="hidden" name="hash" id="hash" value="{{hash}}" />
    <input type="hidden" name="register" id="register" value="{{register}}" />

    <p>
    <div align="center">
        <textarea name="message" cols="50" rows="13" readonly id="message">
        {{message}}
        </textarea>
    </div>
    </p>

    <div align="center">
        <label for="stores">Select Store:</label>
        <select name="stores" id="stores">
          <option value="5012349">Dub-C</option>
          <option value="1287612">P-Town</option>
          <option value="6498234">The City</option>
          <option value="7812386">Eso</option>
          <option value="8723098">The Dro</option>
          <option value="9621043">Mateo</option>
          <option value="1393478">Deadwood</option>
        </select> 
    </div>                        

    <br/>

    <p align="center">
    <label for="order">Select Drink:</label>
    <select name="order" id="orderDrink">   
      <option value="latte">Caffe Latte</option>
      <option value="americano">Caffe Americano</option>
      <option value="mocha">Caffe Mocha</option>
      <option value="espresso">Espresso</option>
      <option value="cappuccino">Cappuccino</option>
    </select> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="order">Select Milk:</label>
    <select name="order" id="orderMilk">
      <option value="whole">Whole Milk</option>
      <option value="two">2% Milk</option>
      <option value="nonfat">Nonfat Milk</option>
      <option value="almond">Almond Milk</option>
      <option value="soy">Soy Milk</option>
    </select> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="order">Select Size:</label>
    <select name="order" id="orderSize">
      <option value="short">Short</option>
      <option value="tall">Tall</option>
      <option value="grande">Grande</option>
      <option value="venti">Venti</option>
      <option value="own">Your Own Cup</option>
    </select> 
    &nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" name="event" id="btnPlaceOrder" value="Place Order">  
    </p>
    <br>

    <p align="center">
        <input type="submit" name="event" id="btnGetOrder" value="Get Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event" id="btnClearOrder" value="Clear Order">
    </p>

</form>

<!-- END FORM SECTION -->


</body>
</html>